*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 2.0vh;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: darkgray;
  overflow-x: hidden;
}

* {
  margin: 0;
}

.container {
  --n: 1;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n)*100%);
  height: 70vh;
  max-height: 100vh;
  transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));
  margin-bottom: 2vh;
}
.container img {
  width: 100%;
  width: calc(100%/var(--n));
  user-select: none;
  pointer-events: none;
}

.smooth {
  transition: transform calc(var(--f, 1)*.5s) ease-out;
}

#conversation-button {
  height: 0;
}
#conversation-button img {
  position: absolute;
  height: 8vh;
  right: 3vw;
  margin-top: -6vh;
}

.details {
  margin-left: 2vh;
}

#name-age {
  color: black; 
  font-size: 3.3vh;
}

.name {
  font-weight: 600;
}

#location {
  margin-top: 0.5vh;
}
#location img {
  height: 1.9vh;
}

hr {
  margin-top: 2.3vh;
  margin-bottom: 2.3vh;
  border-width: 0.4px;
}

h {
  font-weight: 600;
  color: black;
}

.anthem {
  margin-bottom: 1vh;
}

.anthem-image img {
  height: 10vh;
  position: absolute;
  right: 2vw;
  margin-top: -9vh;
}

.artist {
  margin-top: 0.5vh;
  font-size: 1.8vh;
}
.artist img {
  height: 1.5vh;
}

#interests {
  margin-top: 2vh;
}
#interests text {
  border: 1px solid #FF655B;
  border-radius: 2px;
  color: #FF655B;
  margin: 0.5vh;
  padding: 0.5vh;
}

.spotify-artists {
  margin: 2vh 0vh;
}
.spotify-artists div {
  display: inline-block;
  float: left;
  width: 50%;
}
.spotify-artists img {
  height: 40vw;
  margin: 0vw 3vw;
}
.spotify-artists text {
  display: table;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}
.song-name {
  font-size: 1.5vh;
  margin-bottom: 3vh;
}

.date-time {
  align-content: center;
  width: 100%;
  text-align: center;
}
.date {
  font-weight: 600;
}
.time {
  margin-left: -1vw;
}

.to-message {
  text-align: right;
  margin: 3vh 0vw;
}
.to-message text {
  background-color: #03A9F4;
  border-radius: 4vh 4vh 1vh 4vh;
  color: white;
  padding: 1.5vh;
  margin: 3vw;
  font-size: 2.4vh;
}

.from-message {
  text-align: left;
  margin: 3vh 0vw;
}
.from-message text {
  background-color: lightgray;
  border-radius: 4vh 4vh 4vh 1vh;
  color: black;
  padding: 1.5vh;
  margin: 3vw;
  font-size: 2.4vh;
}

#back-arrow {
  height: 5vh;
  margin-left: 4vw;
  margin-right: 6vw;
  padding-bottom: 1.5vh;
}
.conversation-header {
  line-height: 7vh;  
  margin-top: 2vh;
  margin-bottom: -3vh;
}
.conversation-header img {
  height: 6vh;
  border-radius: 3vh;
  margin-right: 2vw;
}
.conversation-header h {
  font-size: 3vh;
  vertical-align: text-bottom;
}

.pt-page {
  width: 100%;
	position: absolute;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}
